/* sotf reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(https://i.kym-cdn.com/photos/images/original/001/641/059/765.gif);
    background-size: 1900px 1000px; 
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
  }

  /* se a tela tiver menos de 400px vai carregar estes estilos */
  @media(min-width: 400px) {
  body {
    font-size: 14px;
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  }
  
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
   list-style: none; 
  }
  a {
    text-align-last: center;
  }
  
  .menu a{
   display: block;
   padding: 10px 20px;
  }

  a {
    color: goldenrod;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle, 
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  .site-title{
    font-size: 4em;
  }
  
  .site-subtitle {
   font-style: italic;
  }

  .img-Projetos {
   height: 180px;
   width: 180px;
  }
